/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/

/*------------------------------------------------------------------- 1199px x 992px ---------------------------------------------------------------------*/

@media (min-width: 992px) and (max-width: 1199px) {
    
    .titlepage h2::after 
    {
        width: 58%;
    }
    .about-box .titlepage h2::after {
        width: 52%;
        right: -221px;
    }
    .contact .titlepage h2::after {
        left: -650px;
        width: 30%;
    }

    .main-menu ul>li a {
        font-size: 15px;
        padding: 22px 26px;
    }

    /* Banner */
    .marginii {
        margin: 120px 0px 0px 0px;
    }

    .banner-main .carousel-caption h1 {
        font-size: 54px;
        padding-top: 30px;
    }
    #color {
        font-size: 44px;
    }
    .banner-main .carousel-caption p {

    }
    .img-box {
        margin-top: 60px;
        height: 400px;
    }

    /* About Us */
    .bg-text {
        margin-top: -650px;
        padding: 20px;
    }
    .stl {
        font-size: 40px;
    }
    .stl2 {
        padding-left: 150px;
        padding-right: 150px;
    }

    /* General Questions */
    .questions-list {
        padding: 100px 0;
        margin-top: -200px;
        margin-left: 520px;
    }
}

/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .main-menu ul>li a {
        font-size: 14px;
        padding: 8px 12px;
    }
    /* Banner */
    .marginii {
        margin: 140px 0px 0px 0px;
    }

    .banner-main .carousel-caption h1 {
        font-size: 36px;
        padding-top: 30px;
    }
    #color {
        font-size: 31px;
    }
    .banner-main .carousel-caption p {
    }

    .btn-primary {max-width: 144px;}

    .img-box {
        margin-top: 60px;
        height: 400px;
    }
    /* About Us */
    .bg-text {
        margin-top: -725px;
        padding: 20px;
    }
    .stl {
        font-size: 40px;
    }
    .stl2 {
        padding-left: 150px;
        padding-right: 150px;
    }

    .titlepage h2::after {width: 79%;}

    .about-box .titlepage h2::after {
        width: 73%;
        right: -88px;
    }
    .contact .titlepage h2::after {
    left: -403px;
    width: 41%;
    }

    /* General Questions */
    .questions-list {
        padding: 100px 0;
        margin-top: -200px;
        margin-left: 420px;
    }
    .questions-block h2 {
        line-height: 50px;
        font-size: 40px;
        margin: -20px;
    }

    /* Video */
    .video .video-box {
        margin-bottom: 30px;
        height: 600px;
   }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
    .marginii {
        margin: 140px 0px 0px 0px;
   }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 290px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }
    .marginii {
        margin: 140px 0px 0px 0px;
   }
}

/*------------------------------------------------------------------- 575px ---------------------------------------------------------------------*/


@media (max-width: 575px) {
    .last {display: none;}
    .img-box {display: none;} 
.header {padding-top: 30px;}
.logo {float: inherit; padding-bottom: 15px; text-align: center;}
.btn-primary {max-width: 126px;   margin-bottom: 25px;
margin-right: 2px;
font-size: 14px;}
.banner-main .carousel-caption h1 {font-size: 30px;
line-height: 38px;}
.titlepage h2 {
    font-size: 37px;
}
.titlepage h2::after {
    width: 93%;
}
    .about-box .titlepage h2::after {
        width: 238px;
        right: -50px;
    }
 .Gallery .titlepage h2 {
    font-size: 47px;
 }
    .Gallery .titlepage h2::after {
        width: 89%;
    }

    .paddimg-right {
    padding-right: 15px;
}
.paddimg-left {
    padding-left: 15px;
}
.Nursery-img .text-box h3 {
font-size: 23px;
padding: 30px 14px;

}

.contact .titlepage h2::after {

    left: -8px;
width: 281px;
}
.footer .headinga span {
font-size: 16px;

}
.menu-bottom {
    margin-bottom: 45px;
}
ul.link li {

    padding: 8px 12px;
    padding-bottom: 0px; 
}
.marginii {
    margin: 180px 0px 0px 0px;
}

.overview {
    margin-top: 0px;
    /* height: 500px */
}

.bgcol {
    background: white;
}
.bg-text {
    position: absolute;
    margin-top: -700px;
    padding: 20px;
    align-content: left;
    align-self: center;
    width: 300px;
    z-index: 10000;
    background:transparent;
    /* border: 5px solid black;*/
    color: white;
    font-weight: 800px;
}

.stl {
    width: auto;
    color:#fbb919;
    font-size: 30px;
    text-decoration: underline;
}

.stl2 {
    width: 300px;
    color: white;
}

}

/*------------------------------------------------------------------- 767px x 576px ---------------------------------------------------------------------*/


@media (min-width: 576px) and (max-width: 767px) {
    .last {display: none;}
    .banner-main .carousel-caption {top: 0%;}
.titlepage h2 {
font-size: 42px; 
}
.titlepage h2::after {
width: 88%;
}

.about-box .titlepage h2::after {width: 45%;
right: -281px;}
.Nursery-img .text-box h3 {
font-size: 36px;
padding: 126px 40px;
}


.contact .titlepage h2::after {
    left: -234px;
width: 55%;
}
    .img-box {display: none;}
}